body {
    background-color: whitesmoke;
    font-size: 150%;
    font-family: Poppins, sans-serif;
    padding: 0;
    margin: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
    margin: 0;
}

.container {
    display: flex;
    padding: 2em;
    gap: 1em;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    box-sizing: border-box;
}

.container > .block {
    width: 50vw;
}

.links {
    display: flex;
    flex-direction: column;
    gap: .5em;
}

.links a {
    display: flex;
    align-items: center;
    background-color: hsl(0, 0%, 90%);
    transition: background-color .5s;
    text-decoration: none;
    color: black;
    border-radius: 15px;
    padding: .5em;
    gap: .5em;
}

.links a i.fab {
    font-size: 1.5rem;
}

.links a:hover {
    background-color: hsl(0, 0%, 70%);
}

@media screen and (max-width: 770px) {
    .container {
        flex-direction: column;
    }
    .container > .block {
        widtH: 75vw;
    }
}